# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.*
.config.env
*.agekey
*.pub
*.key
# Ansible
xanmanning.k3s*
kubernetes/cluster-0/apps/media/qbittorrent/app/*.conf
!kubernetes/cluster-0/apps/media/qbittorrent/app/*.sops.conf
